*{
    margin: 0;
    padding: 0;
}

.title{

    display: flex;
    justify-content: center;
    margin-top: 60px;
}
a{
    text-decoration: none;
    margin: 0px 200px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    height: 600px;
    width: 50%;
    position: relative;
    left: 370px;
    margin-top: 40px;
}
.btn1{
    border: 2px solid black;
    border-radius:50px;
    padding: 20px 125px;
    position: relative;
    left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}
.btn2{
    border: 2px solid black;
    border-radius:50px;
    padding: 20px 125px;
    position: relative;
    left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}
h3{
    position: relative;
    font-weight: 100;
    left: 40px;
}

.btn1:hover{
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}


.btn2:hover{
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.or{
    margin-top: 30px;
}

.in1{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 2px solid black;
    padding: 30px;
    padding-right: 700px;
}

.in2{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 2px solid black;
    padding: 30px;
    padding-right: 700px;
}

.check{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 100px;
    padding: 0px 0px;
}
h4{
    position: relative;
    left: 700px;
    bottom: 20px;
}

.btn3{
    padding: 30px 200px;
    margin-left: 200px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}